.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $white;
}

.planets-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  img {
    width: 10vw;
  }

  p {
    font-weight: bold;
  }
}

.missions-container {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}